 .App {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 50px;
    font-style: oblique;
    color: blue;
  }
  
  .add-student-form {
    margin-bottom: 20px;
  }
  
  input {
    margin: 5px;
    padding: 5px;
  }
  
  button {
    margin: 5px;
    padding: 5px 10px;
  }
  
  .search-student {
    margin: 20px 0;
  }
  
  .search-student input {
    padding: 6px;
    width: 300px;
    font-size: 16px;
  }
  
  /* Scrollable Table Container */
  .tableclass {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .table-wrapper {
    max-height: 300px;
    overflow-y: auto;
    width: 90%;
    border: 1px solid #ccc;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #070707;
    padding: 8px;
    text-align: left;
  }
  
  /* Sticky header */
  .table thead th {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 1;
  }
  
